@import 'scss/defaultVariables.scss';

.breadcrumb {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: $white;
}
.breadcrumbItem + .breadcrumbItem:before {
  padding: 8px;
  color: $black;
  content: '>';
}
.breadcrumbLink {
  color: $secondary-color;
  text-decoration: none;
}
.breadcrumbLink:hover {
  color: $primary-color;
  text-decoration: underline !important;
}
