@import 'scss/defaultVariables.scss';
.searchToolbar {
	width: 80vw;
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}
.searchTerm {
	border: none;
	height: 40px;
	border-bottom: 1px solid $secondary-color;
	flex: 1;
}

.serviceSelect,
.serviceSelect:focus-visible {
	border: none !important;
	border-bottom: 1px solid $black !important;
	flex: 1;
}

.keywords {
	border: none;
	border-bottom: 1px solid $black !important;
	flex: 1;
	height: 50px !important;
	padding-top: 15px;
}

.searchButton {
	background-color: $primary-color;
	color: $white;
	font-size: 25px;
	border-radius: 0;
	// border-radius: 50%;
	// top: 0;
	span,
	span:hover {
		color: $white;
	}
}
.resetButton {
	background-color: $dark-color;
	color: $white;
	font-size: 25px;
	border-radius: 0;
	// border-radius: 50%;
	// top: 0;
	span,
	span:hover {
		color: $white;
	}
}
.searchInner {
	display: flex;
	width: 80vw;
	background-color: $white;
	box-shadow: 0px 10px 10px 0px rgba(255, 255, 255, 0.15);
}

.datePickerWrapper > div {
	display: flex;
	justify-content: space-between;
	// flex-direction: column;
	@include min-width-768 {
		// flex-direction: row;
	}
	// @include
	align-items: center;
	label {
		margin: 0;
		display: none;
		@include min-width-768 {
			display: block;
		}
	}
	input,
	input:focus-visible {
		border: none;
		outline: none;
		height: 50px !important;
		// background-color: #d3d3d3;
		border-bottom: 1px solid $secondary-color;
		height: 100%;
		// border-radius: 0 20px 20px 0;
		max-width: 130px;
		// margin-right: 10px;
	}
}

.newsItem {
}
